/* Le code CSS spécifique à la page de documentation */


/* Body */

body{
    background-color: antiquewhite;
}

h1, h2, h3{
    margin: 0;
}

p{
    margin: 0;
    font-weight: 600;
}

.logo{
   width: 10%;
}

/* Header */

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.header-all{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-texte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 40%; 
}

.btn-app{
    display: flex;
    text-decoration: none;
    list-style: none;
    background-color: white;
    padding: 1em;
    border: 2.5px solid #1a1a1a;
    border-radius: 5px;
    box-shadow: 3px 3px 0px #1a1a1a;
    color: black;
    gap: 5px;
}

.btn-app img{
    width: 20px;
    height: 20px;
}

.btn-app-div{
    display: flex;
    gap: 20px;
}

.telephone{
    height: 80vh;
}

.telephone2{
    height: 100%;
    height: 80vh;
}

.theme{
    background-color: #66D57E;
    padding: 0.5em;
    border-radius: 20px;
    border: 2.5px solid #1a1a1a;
    color: black;
    font-weight: 1000;
    font-size: large;
}

.theme2{
    background-color: #FAF4E6;
    padding: 0.5em;
    border-radius: 20px;
    border: 2.5px solid #1a1a1a;
    display: inline-block;
    color: black;
    font-weight: 1000;
    font-size: large;
}

.theme3{
    background-color: #ffffff;
    padding: 0.5em;
    border-radius: 20px;
    border: 2.5px solid #1a1a1a;
    display: inline-block;
    color: black;
    font-weight: 1000;
    margin-bottom: 5em;
    font-size: large;
}

.theme4{
    background-color: #ffffff;
    padding: 0.5em;
    border-radius: 20px;
    border: 2.5px solid #1a1a1a;
    display: inline-block;
    color: black;
    font-weight: 800;
    margin-bottom: 1em;
    font-size: large;
}

.theme5{
    background-color: #ffffff;
    padding: 0.5em;
    border-radius: 20px;
    border: 2.5px solid #1a1a1a;
    display: inline-block;
    color: black;
    font-weight: 1000;
    font-size: large;
}

/* Contexte */

#section1{
    background-color: #8C63E6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.section1-all{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 100px;
}

.section1-titre{
    width: 500px;
    font-size: larger;
}

.garcon{
    height: 50vh;
    background-color: antiquewhite;
    border: 2.5px solid #1a1a1a;
    border-radius: 5px;
    box-shadow: 3px 3px 0px #1a1a1a;
}

.section1-all .section1-titre, #section1 h1 {
    color: rgb(0, 0, 0);
}

/* Cible et Persona */

#section2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #66D57E;
}

.section2-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.elise{
    border-radius: 50%;
    width: 20em;
    height: 20em;
    object-fit: cover;
    border: 2.5px solid #1a1a1a;
    box-shadow: 3px 3px 0px #1a1a1a;
} 

.carte{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: antiquewhite;
    padding: 2em;
    width: 40%;
    height: 25vh;
    border-radius: 30px;
    border: 2.5px solid #1a1a1a;
    box-shadow: 3px 3px 0px #1a1a1a;
}

.carte h1,.carte p {
    color: black;
}

.cibles{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}
.cibles-texte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
}

.cibles-texte h1, .cibles-texte p {
    color: black;
}

.cartes{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    flex-wrap: wrap;
}

.nom-persona{
    margin-bottom: 100px;
}

.personna-et-texte{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.persona-texte{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    background-color: antiquewhite;
    width: 50%;
    height: 40vh;
    padding: 2em;
    border: 2.5px solid #1a1a1a;
    border-radius: 30px;
    box-shadow: 3px 3px 0px #1a1a1a;
}
.ul-persona{
    list-style: none;
    font-family: "Plus Jakarta Sans", sans-serif;
}


/* L'évolution de l'app */

#section3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #ED5C8D;
}
.section3-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section3-all h1{
    margin-bottom: 2em;
}

/* à venir */

#section4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-top: 5em;
    padding-bottom: 5em;
}







/* La team */

#section5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #FCA24A;
}
.section5-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-top: 5em;
    padding-bottom: 5em;
    gap: 50px;
}
.section5-cartes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}
.section5-cartes-all{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section5-carte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 20vh;
    background-color: white;
    padding: 5em;
    border: 2.5px solid #1a1a1a;
    border-radius: 30px;
    box-shadow: 3px 3px 0px #1a1a1a;
    
}

.bitmoji{
    width: 100%;
    height: 20vh;
}

/* Footer */

.footer{
    background-color: #8C63E6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-top: 5em;
    padding-bottom: 5em;
    flex-direction: column;
}
.footer-contenu {
    display: flex;
    justify-content: center;
    color: white;
    gap: 100px;
    width: 100%;
}
.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
    padding-top: 3em;
}
 

 
.colonne h3 {
    font-size: 38px;
    font-weight: 900;
    margin-bottom: 25px;
    text-shadow: 3px 3px 0px black;
}
 
 
.colonne ul {
    list-style: none;
    padding: 0;
}
 
.colonne ul li {
    margin-bottom: 18px;
}
 
.colonne ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 2px 2px 0px black;
}
 
 
.colonne form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
 
.colonne input {
    width: 90%;
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}
 
.colonne p {
    margin-top: 15px;
    font-size: 24px;
    font-weight: 700;
    text-shadow: 2px 2px 0px black;
}
 
 
.reseaux {
    display: flex;
    gap: 25px;
    align-items: center;
}
 
.reseaux a {
    width: 65px;
    height: 65px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.reseaux img {
    width: 35px;
    height: 35px;
}
 


















/* Format téléphone PAS TOUCHER     */

@media (max-width :768px) {
    .header-all{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        
    }
    .header-texte{
        text-align: center;
        width: 80%;
    }
    .telephone{
        width: 40%;
        height: 40vh;
    }
    .section1-all{
        flex-direction: column;
    }
    .section1-texte{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section1-titre{
        text-align: center;
        width: 90%;
    }
    .garcon{
        width: 60%;
        height: 35vh;
    }
    .telephone2{
        width: 60%;
        height: 20vh;
    }
    #section2{
        height: 200vh;;
    }
    .carte{
        width: 80%;
        height: 30vh;
    }
    .cartes{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .personna-et-texte{
        flex-direction: column;
    }
    .persona-texte{
        width: 80%;
        height: 20vh;
    
}
    /* #section5{
        height: 200vh;
    } */
    .section5-cartes{
        flex-direction: column;
    }
    .footer-contenu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header-all{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        
    }
    .header-texte{
        text-align: center;
        width: 80%;
    }
    .telephone{
        width: 40%;
        height: 40vh;
    }
    .section1-all{
        flex-direction: column;
    }
    .section1-texte{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section1-titre{
        text-align: center;
        width: 90%;
    }
    .garcon{
        width: 60%;
        height: 35vh;
    }
    .telephone2{
        width: 60%;
        height: 20vh;
    }
    #section2{
        height: 200vh;;
    }
    .carte{
        width: 80%;
        height: 30vh;
    }
    .cartes{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .personna-et-texte{
        flex-direction: column;
    }
    .persona-texte{
        width: 80%;
        height: 20vh;
    
}
    /* #section5{
        height: 200vh;
    } */
    .section5-cartes{
        flex-direction: column;
    }
    .footer-contenu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}